.carte{
    display:grid;
    border: 1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.226);
    max-width: 370px;
    justify-items: center;
    margin-left: -20px !important;
}
ul{
    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center !important;
    align-items: center !important;
    margin-top: -10px !important;
    margin-bottom: 20px !important;
    padding: 0px !important;
    font-family: Rubikone, sans-serif !important;
    text-transform: uppercase !important;
    font-size: 22px !important;
    line-height: 28px !important;
}
.carte img{
    width: 50%;
    border: 1px solid white;
    border-radius: 5px;
    margin: 10%;
    align-self: center;
}

@media screen and (max-width: 991px) 
{
    .carte{
        display:grid;
        border: 1px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.226);
        max-width: 370px;
        justify-items: center;
        margin-left: 0px !important;
    }
}